.page {
	background-color: #ffffdd;
	min-height: 100%;
	padding: 150px 20% 70px 20%;
	margin: 0;
	color: #444400;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.cursive {
	font-family: cursive, Arial, Helvetica, sans-serif;
}

.only-header {
	margin: 10px auto;
}

.header {
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 2px;
}

.page-content {
	background-color: white;
	border: 20px solid #ffff55;
	padding: 15px;
}

.block.main {
	display: flex;
	margin-bottom: 20px;
}

.block.intro {
	text-align: center;
	width: 100%;
	font-style: italic;
	font-size: 32px;
}

.block.columns {
	display: flex;
}

.columns > .column {
	width: calc(50% - 10px);
}

.columns > .column:first-child {
	margin-right: 20px;
}

.avatar {
	height: 350px;
}

.no-markers {
	list-style: none;
}

.contacts {
	margin-top: 40px;
	margin-left: 20px;
}

.contacts > li {
	display: flex;
	margin-bottom: 20px;
}

.contacts > li:last-child {
	margin-bottom: 0;
}

img.icon {
	height: 28px;
	width: auto;
}

img.icon.padding {
	margin-right: 10px;
}

a {
	color: #0066aa;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
	color: #0055aa;
}

.timeline {
	padding-inline-start: 15px;
	line-height: 22px;
}

.timeline > .event {
	margin-bottom: 15px;
}

.timeline > .event:last-child {
	margin-bottom: 0;
}

.timeline > .event > .date {
	color: #888800;
	margin-right: 10px;
}

.accordion {
	position: relative;
}

.accordion > .checkbox {
	width: 17px;
	height: 17px;
	position: absolute;
	top: 10px;
	left: 0;
	opacity: 0;
	margin: 0;
	z-index: 2;
}

.no-margin {
	margin: 0;
}

.accordion {
	margin-top: 15px;
}

.accordion > .expander-img {
	transition-property: transform;
	transition-duration: 0.2s;
	width: 15px;
	height: 15px;
	top: 11px;
	left: 1px;
	position: absolute;
}

.accordion > .checkbox:checked ~ .expander-img {
	transform: rotateZ(90deg);
}

.accordion > .checkbox:checked ~ .content {
	max-height: 100vh;
	opacity: 1;
}

.accordion > .content {
	transition-property: max-height, opacity;
	transition-duration: 0.2s;
	max-height: 0;
	opacity: 0;
}

.accordion .title {
	margin: 0;
	display: inline;
	padding-left: 25px;
}
