.page {
	background-color: #ffffdd;
	min-height: 100%;
	padding: 150px 20% 70px 20%;
	margin: 0;
	color: #444400;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.cursive {
	font-family: cursive, Arial, Helvetica, sans-serif;
}

.only-header {
	margin: 10px auto;
}

.page-content {
	background-color: white;
	border: 20px solid #ffff55;
	padding: 15px;
}

.no-markers {
	list-style: none;
}

a {
	color: #0066aa;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
	color: #0055aa;
}

img.icon {
	height: 28px;
	width: auto;
}

img.icon.padding {
	margin-right: 10px;
}

.no-margin {
	margin: 0;
}
