.header {
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 2px;
}

.block.main {
	display: flex;
	margin-bottom: 20px;
}

.block.intro {
	text-align: center;
	width: 100%;
	font-style: italic;
	font-size: 32px;
}

.contacts {
	margin-top: 40px;
	margin-left: 20px;
}

.contacts > li {
	display: flex;
	margin-bottom: 20px;
}

.contacts > li:last-child {
	margin-bottom: 0;
}

.avatar {
	height: 350px;
}

#dogFriendly {
	top: 20px;
	left: calc(100% - 50px);
	position: sticky;
}

#dogFriendly > .checkbox {
	top: 0;
	left: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 0;
	opacity: 0;
	z-index: 2;
	transition-property: transform;
	transition-duration: 0.2s;
	cursor: pointer;
}

#dogFriendly > .switcher {
	top: 0;
	left: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #dadada;
	transition-property: transform;
	transition-duration: 0.2s;
	border-radius: 10px;
}

#dogFriendly > .checkbox:hover ~ .switcher {
	background-color: #d5d5d5;
}

#dogFriendly > .slider {
	width: 50px;
	height: 20px;
	background-color: #eeeeee;
	border-radius: 10px;
}

#dogFriendly > .checkbox:checked {
	transform: translateX(30px);
}

#dogFriendly > .checkbox:checked ~ .slider {
	background-color: #ffff55;
}

#dogFriendly > .checkbox:checked ~ .switcher {
	transform: translateX(30px);
}

#dogFriendly > .switcher > .image {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
	width: 100%;
}

#dogFriendly > .checkbox:checked ~ .switcher > .image {
	opacity: 1;
}
