.header {
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 2px;
}

.block.main {
	display: flex;
	margin-bottom: 20px;
}

.block.intro {
	text-align: center;
	width: 100%;
	font-style: italic;
	font-size: 32px;
}

.contacts {
	margin-top: 40px;
	margin-left: 20px;
}

.contacts > li {
	display: flex;
	margin-bottom: 20px;
}

.contacts > li:last-child {
	margin-bottom: 0;
}

.avatar {
	height: 350px;
}
