.block.columns {
	display: flex;
}

.columns > .column {
	width: calc(50% - 10px);
}

.columns > .column:first-child {
	margin-right: 20px;
}

.timeline {
	padding-inline-start: 15px;
	line-height: 22px;
}

.timeline > .event {
	margin-bottom: 15px;
}

.timeline > .event:last-child {
	margin-bottom: 0;
}

.timeline > .event > .date {
	color: #888800;
	margin-right: 10px;
}

#toTop {
	opacity: 0.7;
	background-color: #212121;
	color: white;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	bottom: 30px;
	right: 30px;
	position: fixed;
	transition: font-size;
	transition-duration: 0.2s;
	cursor: pointer;
}

#toTop:hover {
	opacity: 0.9;
	font-size: 32px;
}
